$primaryTextColor:#FFF;
// $secondaryTextColor: #FFF;

// $accentColor_tomato-light: #F16A50;

$borderColor:#2B81AC;

$primaryBgColor: #3399CC;


$transitionFunc: 0.5s ease;

$primaryFontFam: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
