@import './base/reset';

@import './utils/variables';

@import './utils/mixins';

@import './components/container';


.page_wrapper{
    max-width: 1177px;
    margin: 50px auto;
}

// Header-----
input.form-control{
    &.error{
        border-color: red;
    }
    &:focus{
        border-color: red;
        box-shadow: 0 0 0 0.25rem rgba(255,0,0,.25);
    }
}